body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(40, 38, 38);
}
#calculator {
    font-family: Arial, sans-serif;
    background-color: rgb(53, 53, 53);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    font: 3rem;
}
#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:  rgb(64, 64, 64);
    color: #fff;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: grey;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}
.operatorKeys{
 background-color: rgb(0, 145, 255);
}